.container {
  --cards-gap: 20px;
  display: flex;
  align-items: flex-start;
  column-gap: var(--cards-gap);
}

.list {
  list-style: none;
  margin-left: 0;
  flex: 1;
  min-width: 330px;
  max-width: 550px;
}

.list-item:not(:first-child) {
  margin-top: var(--cards-gap);
}

.item {
  cursor: pointer;
  border: 1px solid var(--border-dark-10);
  outline: none;
  transition: background 0.2s ease-out, border 0.2s ease-out, width 0.2s ease-out;
}

.item-selected,
.item:hover,
.item:focus-visible,
.item:focus {
  border-color: transparent;
  background-color: #f5f6f7;
}

.summary {
  min-width: 450px;
  margin-top: 0;
  flex: 2;
  animation-duration: 0.5s;
}

.invisible {
  opacity: 0;
}

.summary-section-title {
  margin-top: 4ch;
  margin-bottom: 1ch;
}

.summary-section-content {
  margin-top: 1ch;
}

.summary-actions {
  margin: 20px 0;
}

.exercise-table {
  animation-duration: 0.5s;
}
